<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cog pull-left"></i>Настройка виджета - Изображение по ссылке</h3>
</div>
<!-- Custom Tabs -->
<div class="col-md-12 nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-cog pull-left"></i>Виджет</a></li>
    </ul>
    <div class="tab-content">
        <div class="col-md-12 tab-pane active" id="tab_1">
            <div class="col-md-6 box-body">
                <label>Размер изображения</label>
                <div class="row margin">
                    <div class="col-sm-12">
                        <input id="image_size" type="text" >
                    </div>
                </div>
            </div>
            <div class="col-md-6 box-body">
                <div class="col-md-12 form-group">
                    <label for="comment">Ссылка на изображение</label>
                    <input class="form-control"  name="image_url" value="<%= file_url %>">
                </div>
            </div>
        </div>
        <div class="col-md-12 tab-pane active" id="tab_1">
            <img id="head_moroz" src="/imgs/stickers/head_moroz.png" width="75" class="image-sticker">
            <img id="head_moroz_2" src="/imgs/stickers/head_moroz_2.png" width="75" class="image-sticker">
            <img id="head_moroz_3" src="/imgs/stickers/head_moroz_3.png" width="75" class="image-sticker">
            <img id="boroda_moroz"  src="/imgs/stickers/boroda_moroz.png" width="75" class="image-sticker">
            <img id="cawboy"  src="/imgs/stickers/cawboy.png" width="75" class="image-sticker">
            <img id="cilindr_1"  src="/imgs/stickers/cilindr_1.png" width="75" class="image-sticker">
            <img id="cilindr_2"  src="/imgs/stickers/cilindr_2.png" width="75" class="image-sticker">
            <img id="crown"  src="/imgs/stickers/crown.png" width="75" class="image-sticker">
            <img id="ears_1"  src="/imgs/stickers/ears_1.png" width="75" class="image-sticker">
            <img id="ears_2"  src="/imgs/stickers/ears_2.png" width="75" class="image-sticker">
            <img id="ears_3"  src="/imgs/stickers/ears_3.png" width="75" class="image-sticker">
            <img id="ears_4"  src="/imgs/stickers/ears_4.png" width="75" class="image-sticker">
            <img id="ears_5"  src="/imgs/stickers/ears_5.png" width="75" class="image-sticker">
            <img id="gavai"  src="/imgs/stickers/gavai.png" width="75" class="image-sticker">
            <img id="halloween"  src="/imgs/stickers/halloween.png" width="75" class="image-sticker">
            <img id="kolpak_1"  src="/imgs/stickers/kolpak_1.png" width="75"class="image-sticker">
            <img id="kolpak_2"  src="/imgs/stickers/kolpak_2.png" width="75" class="image-sticker">
            <img id="moroz"  src="/imgs/stickers/moroz.png" width="75" class="image-sticker">
            <img id="raptor_1"  src="/imgs/stickers/raptor_1.png" width="75" class="image-sticker">
            <img id="raptor_2"  src="/imgs/stickers/raptor_2.png" width="75" class="image-sticker">
        </div>
        <!--<div class="col-md-12 tab-pane active" id="tab_1">-->
            <!--<h4>Галерея</h4>-->
            <!--<div class="description-block ">-->
                <!--<label for="file-upload-sticker" class="custom-file-upload btn btn-block btn-info">-->
                    <!--Загрузить изображение с компьютера-->
                <!--</label>-->
                <!--<input id="file-upload-sticker" type="file" name="file"/>-->

            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- /.tab-content -->
</div>